<!--<div class="container">-->

<!--</div>-->

<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <!--<h1 class="text-primary">Map</h1>-->

    <div class="map-btns">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="saveMarkers()">Save markers</button>
        <button type="button" class="btn btn-success" (click)="loadMarkers()">Load markers</button>
      </div>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-xs-offset-2">-->
        <!---->

      <!--</div>-->
    <!--</div>-->
  </div>
</div>





